name: Scan Images

on:
  workflow_dispatch:
  schedule:
    - cron: '00 7 * * *'

jobs:
  Scan-Images:
    permissions:
      contents: write
      pull-requests: write
      
    runs-on: ubuntu-latest
    name: Scan images
    steps:
    - name: Cache OpenAF runtime
      uses: actions/cache@v3
      with:
        key : oaf-t8
        path: /tmp/oaf
        
    - uses: actions/checkout@v3
      name: Checkout
      
    - uses: openaf/ojob-action@v4
      name: Scan latest
      with:
        ojob: 'ojob.io/sec/genSecBadge'
        args: 'image=openaf/oaf:latest file=.github/sec-latest.svg reportFile=.github/sec-latest.yaml'
        dist: 't8'
        
    - uses: openaf/ojob-action@v4
      name: Generate sec-latest.md
      with:
        ojob: 'ojob.io/util/toMDTree'
        args: 'inputFile=.github/sec-latest.yaml file=.github/sec-latest.md'
        
    - uses: openaf/ojob-action@v4
      name: Scan nightly
      with:
        ojob: 'ojob.io/sec/genSecBadge'
        args: 'image=openaf/oaf:nightly file=.github/sec-nightly.svg reportFile=.github/sec-nightly.yaml'
        dist: 't8'
        
    - uses: openaf/ojob-action@v4
      name: Generate sec-nightly.md
      with:
        ojob: 'ojob.io/util/toMDTree'
        args: 'inputFile=.github/sec-nigthly.yaml file=.github/sec-nightly.md'

        
    - uses: openaf/ojob-action@v4
      name: Generate sec-nightly.md
      with:
        ojob: 'ojob.io/util/toMDTree'
        args: 'inputFile=.github/sec-nightly.yaml file=.github/sec-nightly.md'
        
    - uses: openaf/ojob-action@v4
      name: Scan UBI nightly
      with:
        ojob: 'ojob.io/sec/genSecBadge'
        args: 'image=openaf/oaf:ubi-nightly file=.github/sec-ubi-nightly.svg reportFile=.github/sec-ubi-nightly.yaml'
        dist: 't8'
    
    - uses: openaf/ojob-action@v4
      name: Generate sec-ubi-nightly.md
      with:
        ojob: 'ojob.io/util/toMDTree'
        args: 'inputFile=.github/sec-ubi-nightly.yaml file=.github/sec-ubi-nightly.md'
        
    - uses: openaf/ojob-action@v4
      name: Scan UBI latest
      with:
        ojob: 'ojob.io/sec/genSecBadge'
        args: 'image=openaf/oaf:ubi file=.github/sec-ubi-latest.svg reportFile=.github/sec-ubi-latest.yaml'
        dist: 't8'
        
    - uses: openaf/ojob-action@v4
      name: Generate sec-ubi-latest.md
      with:
        ojob: 'ojob.io/util/toMDTree'
        args: 'inputFile=.github/sec-ubi-latest.yaml file=.github/sec-ubi-latest.md'
        dist: 't8'
        
    - uses: openaf/ojob-action@v4
      name: Scan oJobRT latest
      with:
        ojob: 'ojob.io/sec/genSecBadge'
        args: 'image=openaf/ojobrt:latest file=.github/sec-oJobRT-latest.svg reportFile=.github/sec-oJobRT-latest.yaml'
        dist: 't8'
        
    - uses: openaf/ojob-action@v4
      name: Generate sec-oJobRT-latest.md
      with:
        ojob: 'ojob.io/util/toMDTree'
        args: 'inputFile=.github/sec-oJobRT-latest.yaml file=.github/sec-oJobRT-latest.md'
        dist: 't8'
        
    - uses: openaf/ojob-action@v4
      name: Scan oJobRT nightly
      with:
        ojob: 'ojob.io/sec/genSecBadge'
        args: 'image=openaf/ojobrt:nightly file=.github/sec-oJobRT-nightly.svg reportFile=.github/sec-oJobRT-nightly.yaml'
        dist: 't8'
        
    - uses: openaf/ojob-action@v4
      name: Generate sec-oJobRT-nightly.md
      with:
        ojob: 'ojob.io/util/toMDTree'
        args: 'inputFile=.github/sec-oJobRT-nightly.yaml file=.github/sec-oJobRT-nightly.md'
        dist: 't8'
        
    - uses: openaf/ojob-action@v4
      name: Push
      env :
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        ojob: 'ojob.io/git/hub/contentIn'
        args: 'message="update\ badge\ {{date}}/{{time}}" title="Update\ badges" paths=.github/'
        dist: t8
        
